.exchange_coin_info_content{
    background-color: white;
    width: 870px;
    height: 152px;
    /* overflow-y: scroll; 수직 스크롤 추가 */
    /* overflow-x: hidden; 가로 스크롤 숨기기 */
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
.exchange_coin_info_content::-webkit-scrollbar {
    width: 0; 
    height: 0;
}
